body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)),
              url('../img/fondo.gif') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  color: white;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;
}


.content-box {
  position: relative;
  padding: 3px;
  background: linear-gradient(135deg, #00ff99, #003300);
  border-radius: 20px;
  animation: borderRotate 4s linear infinite;
}

.form-content {
  background-color: #000;
  border-radius: 20px;
  padding: 30px 40px;
  width: 90vw;
  max-width: 500px;
  box-sizing: border-box;
  text-align: center;
}

@keyframes borderRotate {
  0% {
    background: linear-gradient(135deg, #00ff99, #003300);
  }
  50% {
    background: linear-gradient(135deg, #003300, #00ff99);
  }
  100% {
    background: linear-gradient(135deg, #00ff99, #003300);
  }
}

h1 {
  font-family: 'Fira Code', monospace;
  color: #00ff99;
  margin-bottom: 10px;
  font-size: 2em;
}

p {
  margin-top: 0;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin: 10px 0 5px;
  font-weight: 600;
}

input, textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  background-color: #111;
  color: white;
  margin-bottom: 10px;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.btn-send {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  background: linear-gradient(90deg, #2ecc71, #27ae60); /* verde exacto landing */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition: background 0.3s ease;
}

.btn-send:hover {
  background: linear-gradient(90deg, #27ae60, #1e8449); /* verde hover landing */
}




footer {
  text-align: center;
  margin-top: 15px;
  font-size: 0.9em;
  color: #ccc;
  font-family: 'Poppins', sans-serif;
}

